@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Todos los Cursos";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1><br/>

<strong>Utilizando ListaCursos</strong>
<partial name="ListaCursos"/>

<p><i>@ViewBag.Fecha</i></p>