@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Información Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<strong>Utilizando ListaCursos</strong>
<partial name="ListaCursos"/>

<p><i>@ViewBag.Fecha</i></p>